XCOMM $XFree86: xc/programs/Xserver/hw/tinyx/TinyX.tmpl,v 1.1 2004/06/02 22:43:00 dawes Exp $

#include <Server.tmpl>

TINYXSRC=$(SERVERSRC)/hw/tinyx

#if BuildRender
RENDERINCS=-I$(SERVERSRC)/render
#endif

#if BuildRandR
RANDRINCS=-I$(SERVERSRC)/randr
#endif

#ifdef LinuxArchitecture
OS_INCS=-I$(TINYXSRC)/linux
#endif

TINYXINCLUDES = \
	-I$(TINYXSRC) $(OS_INCS) -I$(XBUILDINCDIR) -I$(FONTINCSRC) \
	-I$(SERVERSRC)/fb -I$(SERVERSRC)/mi -I$(SERVERSRC)/Xext \
	-I$(SERVERSRC)/miext/shadow -I$(SERVERSRC)/miext/layer \
	-I$(SERVERSRC)/include -I$(SERVERSRC)/os \
        -I$(EXTINCSRC) -I$(XINCLUDESRC) $(RENDERINCS) $(RANDRINCS)

