  XFree86 の設定について: ステップ・バイ・ステップのガイド
  David Wexelblat and The XFree86 Project, Inc
  5 October 1994
  The X Japanese Documentation Project
  12 January 1998

  この文書では XFree86 サーバと、これに対応するXF86Config 設定ファイルの
  設定方法について説明します。この文書の手順どおりに作業すれば、サーバが
  は問題無く準備でき、すぐ実行できるはずです。この文書は汎用部分について
  書いています。お使いの OS 固有の事情を書いた README ファイル(例えば
  README.SVR4)やビデオカード/チップセット固有の事情を書いた READMEファイ
  ル(例えば README.trident)を必ず参照してください。これら固有部分のファ
  イルの内容と汎用部分に関する本文書の内容が矛盾している場合(あまりない
  はずですが)には、固有のファイルの手順に従ってください。
  ______________________________________________________________________

  目次

  1. 手順の概要
  2. デフォルトサーバの正しい設定
  3. XF86Config の簡単な部分
  4. ビデオボードの設定について
  5. モニタとそのモードの設定について
  6. ビデオボードとモニタデータの組み合わせについて
  7. 汎用的なビデオモード一覧
  8. 日本語訳について

  ______________________________________________________________________

  1.  手順の概要

  準備と実行は2つの段階で行ないます。まず最初に使用したい適切なサーバを
  選択して、これをデフォルトのサーバとして設定します。次に XF86Config
  ファイルを設定します。このファイルは、ポインタデバイス(例えば、マウス
  やトラックボール)やビデオカード、モニタ等の機器についてはサーバの設定
  を行うためのものです。

  XF86Config ファイルはいくつかのセクションで構成されています。ここで説
  明する設定作業を行なうと、それぞれのセクションが埋まってゆきます。デ
  フォルト用や設定例のファイルとしては、
  /usr/X11R6/lib/X11/XF86Config.sample があります。このファイルを
  /usr/X11R6/lib/X11/XF86Config にコピーして、編集を行い、読者の皆さんの
  独自の設定にしてください。 XF86Config ファイルの内容とオプションについ
  ては、 XF86Config(4/5)のオンラインマニュアルに詳しい説明があります。
  XF86Config ファイルを編集する前には必ずオンラインマニュアルを通読して
  ください。

  XF86Config ファイルの各セクションは次の通りです:

      Files
        標準フォントと RGB データベースのパスを設定します。

      Server Flags
        一般的なサーバ用オプションをいくつか設定します。これらについて知
        りたい場合は、オンラインマニュアルを参照してください。

      Keyboard
        キーボードデバイスを設定します。オプションパラメータをいくつか設
        定します。ポインタデバイスを設定します。オプションパラメータをい
        くつか設定します。

      Monitor
        サーバに対してモニタ(複数可)を記述します。
      Graphics Device
        サーバに対してビデオカードを記述します。

      Screen
        モニタとビデオカードの使い方を記述します。

  2.  デフォルトサーバの正しい設定

  デフォルトサーバの名前は /usr/X11R6/bin/Xです。これは
  /usr/X11R6/bin/にある特定のサーバのバイナリファイルである XF86_xxxx へ
  のリンクです。X が、使いたいサーバのリンクファイルになっているか確認し
  てください。リンクが正しくないときは、X を削除して正しいサーバへの新し
  いリンク作ってください。

  サーバのバイナリファイルは次の通りです:

     XF86_SVGA:
        Super-VGA サーバ。  Cirrus 542{0,2,4,6,8,9}、543{0,4} と Western
        Digital 90C3{1,3} と Oak Technologies Inc. OTI087 のチップセット
        に対してはアクセラレーション対応で、残りのチップセットに対しては
        アクセラレーション対応ではありません。

     XF86_Mono:
        オプションとして Hercules 等の白黒ビデオカードをサポートする
        (S)VGA モノクロサーバが入っています。

     XF86_VGA16:
        汎用 VGA 16 色サーバ。

     XF86_S3:
        S3 用アクセラレーション対応サーバ。

     XF86_Mach32:
        ATI Mach32 用アクセラレーション対応サーバ。

     XF86_Mach64:
        ATI Mach64 用アクセラレーション対応サーバ。

     XF86_Mach8:
        ATI Mach8 用アクセラレーション対応サーバ。

     XF86_8514:
        8514/A 用アクセラレーション対応サーバ。

     XF86_P9000:
        P9000 用アクセラレーション対応サーバ。

     XF86_AGX:
        AGX 用アクセラレーション対応サーバ。

     XF86_W32:
        ET4000/W32, ET6000 用アクセラレーション対応サーバ。

  それぞれのサーバ対応のオンラインマニュアルがあります。サポートしている
  チップセットやサーバ固有の設定オプションに関する細かい点については、オ
  ンラインマニュアルを参照してください。

  LinkKit を使ってサーバにドライバを組み込み、変更できることに注意してく
  ださい。配布物の構成にもよりますが、サーバのバイナリファイルにはあらゆ
  るドライバが含まれているわけではないでしょう。組み込まれているドライバ
  の一覧を得るには、 /usr/X11R6/bin/X -showconfig を実行してください。サ
  ーバをリンクし直す必要がある場合は、 <tt>README.LinkKit</tt>
  <LinkKit.html> を参照して LinkKit 固有の情報について調べてください。

  3.  XF86Config の簡単な部分

  XF86Config ファイルの "Files" セクションには、RGB (色)のデータベース
  ファイル(一般には、これを変更するべきではありません) へのパスと、標準
  フォントのパスが記述されます。複数の FontPath 行を XF86Config に書くこ
  とができます。この場合には、全て繋げられて 1つのパスになります。それぞ
  れの FontPath のディレクトリが存在することと、有効なフォントディレクト
  リであることを確認してください。サーバが "Can't open default font
  'fixed'" (標準の'固定幅' フォントがありません)とエラーを出力してきた
  ら、それはフォントパスの設定がおかしいからです。フォントディレクトリは
  間違いないつもりであれば、それぞれのディレクトリで `mkfontdir' コマン
  ドを実行してみてください。オンラインマニュアルの XF86Config(4/5) に
  は、このセクションの他のパラメータについての説明があります。

  次は "Keyboard" セクションです。 このセクションでは、キーボードのプロ
  トコル(Xqueue または Normal)やキーの繰り返しの速度、いくつかの修飾キー
  の標準的な割り付けについて設定します。一般には、ここを変更する必要はな
  いでしょう。英語用でないキーボードのユーザであれば、修飾キーの定義を変
  えたいことがあるかもしれません。詳しくはオンラインマニュアルの
  XF86Config(4/5) を参照してください。

  次は "Pointer" セクションです。このセクションでは、ポインタデバイスの
  プロトコルとデバイスを指定します。プロトコル名は必ずしもメーカ名と同じ
  ではない点に注意してください。例えば、Logitech のマウス(特に新しいも
  の)の場合、Logitech プロトコルではなく MouseMan プロトコルや Microsoft
  プロトコルを必要とするものもあります。

  その他のマウスのパラメータもこのセクションで調整できます。2ボタンマウ
  スを使っているときは、Emulate3Buttons というキーワードのコメントを外し
  ましょう。Emulate3Buttons モードで使った場合、同時に2つのボタンを押す
  と、サーバには真ん中のボタンを押されたことが通知されます。

  「マウスデバイスを認識できない」とサーバが文句を言うときは、サーバの問
  題では「ない」ことに注意してください。OS によっては、これは大変ありが
  ちな設定ミスであり、99.999% の確率で原因は OS のデバイス設定の間違いに
  あります。したがって、OS レベルでのサポートが正しいことをちゃんと確認
  するまでは、我々にバグ報告をしないでください。

  4.  ビデオボードの設定について

  "Device" セクションではビデオボードについての記述を行います。複数のデ
  バイスに関するセクションを書くことができ、セクションごとに 1つのビデオ
  カードに関する記述を行います。

  汎用でないけれど設定に使えるかもしれない情報を知っておくために、サーバ
  のオンラインマニュアルとチップセット固有の README ファイルを必ず読んで
  ください。

  Device セクションを書くためには、ハードウェアに関するデータを集めて設
  定に関していくつかのことを決める必要があります。ハードウェアに関して必
  要なデータは次の通りです:

  o  チップセットの種類

  o  ビデオメモリの量

  o  使用可能なドットクロックの値または使っているクロックチップ(プログラ
     ム可能な場合)

  o  Ramdac の種類(一部のサーバ用)

     一般的にはサーバは自力でこれらの値を調べることができますが、
     XF86Config ファイル中で全ての値を指定する方がよいでしょう。そうすれ
     ば間違いが起こらないからです。'Chipset' は設定するドライバ ('X
     -showconfig'を実行すれば表示できます)を表すキーワードの1つです。現
     在のところ、アクセラレーション対応のサーバのうち、ごく一部のサーバ
     だけがチップセットドライバを持っています。メモリの量はキロバイト単
     位で指定しますので、1メガバイトのメモリがある場合は 1024 を指定しま
     す。

  ドットクロックはグラフィックボードの設定において一番わかりにくい部分で
  す。ですが幸運なことに、ドットクロックをたくさん集めたデータベースを利
  用することができます。いくつかのグラフィックボード用の Device のエント
  リの一覧が `Devices' ファイルにあります。ここに読者の皆さんが使ってい
  るグラフィックボードがあれば、最初はそのデータを使うことができます。
  modeDB.txt ファイルの最初の部分には、SVGA カードの情報がたくさんありま
  す。アクセラレータカードについては、`AccelCards' ファイルも見てくださ
  い。運が良ければ、お使いのカードがどこかにあることでしょう。もしカード
  が見つかったら、その数値をデータベースから XF86Config ファイルの
  Clocks 行にコピーします。その際には、データベースに書かれているそのま
  まの数値をコピーしなければなりません。並べ変えたり、重複を取り除いたり
  してはいけません。新しいアクセラレータカードにはプログラマブルクロック
  ジェネレータを使っているものがありますが、この場合には XF86Config ファ
  イルの ClockChip 行を使ってクロックジェネレータの型を識別する点に注意
  してください。(例えば、'ClockChip "icd2061a"' は #9 GXe のために使いま
  す。)

  お使いのグラフィックボードが一覧にないときは、グラフィックボードの検出
  はサーバに任せてしまいましょう。sh または ksh の場合は、 `X -probeonly
  >/tmp/out 2>&1'、csh の場合は、 `X -probeonly >&/tmp/out' とコマンドを
  実行しましょう。この時点では、XF86Config ファイルに Clocks 行は書かな
  いようにします。このコマンドを実行すると数秒間画面がおかしくなります。
  これは、サーバが素速くクロックを変更するためです。調べることでモニタを
  痛めることはないはずですが、新しいモニターの場合は自動的に電源が落ちて
  しまうかもしれません。これは仕様を越えた動作を行なうこともあるために起
  こります。とにかく、調査が終わったら/tmp/out ファイルを見てドットク
  ロックの検出結果を調べましょう。そして、/tmp/out の数値を変更せずにそ
  のまま XF86Config ファイルの Clocks 行にコピーしましょう。どんな種類で
  あれ、ソートや並び変えをしてはいけません。

  グラフィックボードはプログラマブルクロックジェネレータを持っていること
  があります。この場合は、2、3個のクロックだけ値を持ち、残りが全てゼロに
  なっていることでしょう。このような状態になった場合でボードがデータベー
  スの中に見当たらなければ、XFree86 チームに連絡を取るか、
  comp.windows.x.i386unix にメッセージを投稿してください。ただし、現在の
  Diamond 社のハードウェアのほとんどはこれにあてはまるのですが、Diamond
  社 がプログラムの詳細を公開してくれないために、我々が助けることはでき
  ません。この問題には倫理的に問題のある解決策があって、それをネットニュ
  ースでは聞くことができるでしょう。ですが、我々はこの方法を提唱できない
  ので、この方法については我々に問い合わせないでください。

  サーバによっては(S3 と AGX)、ハードウェアを使い切るために、ボードに
  載っている RAMDAC の型式と速度をユーザが指定する必要があります。この指
  定は 'Ramdac' と 'DacSpeec' エントリを追加して行ないます。サポートして
  いる RAMDAC の詳細は、適切なサーバのオンラインマニュアルを参照してくだ
  さい。以前の XFree86 のバージョンでは、RAMDAC の型式は Option フラグで
  設定していたことに注意してください。

  お使いのデバイスに合わせて、Option フラグをいくつか指定する必要がある
  かもしれません。サーバのオンラインマニュアルにこれらのオプションについ
  ての記述がありますし、お使いのボードが必要とするものがあれば、これは
  チップセット固有の README ファイルで説明されているでしょう。

  5.  モニタとそのモードの設定について

  モニタのモード設定は、よく試行錯誤になってしまいます。残念ながら、モニ
  タデバイスの標準化は十分でないからです。この作業を簡単にするために、特
  定のモニタ情報をデータベースに収集することや、たいていのモニタをうまく
  動かして機能させるような「汎用的」なモードを集めることを行っています。
  全てのモニタモードの作成と改良についての、血のにじむような努力でできた
  詳細な設定方法については、Eric Raymond 氏が書いた VideoModes.doc
  <VidModes.html> を参照してください。

  XF86Config ファイルの "Monitor" セクションにモニタの仕様とビデオのモー
  ドを記述します。Monitor セクションを書くためには、自分のモニタの仕様を
  知る必要があります。特にモニタがサポートしている水平同期と垂直同期(書
  き換え)のレートの範囲と、ビデオ信号の帯域について知る必要があります。
  この情報はモニタのユーザマニュアルに書いてあるでしょう。また
  'Monitors' ファイルを調べて、お使いのモニタのエントリがあるかどうか確
  認してください。この情報の Moniter セクションへの記述の仕方について
  は、オンラインマニュアルの XF86Config(4/5) を参照してください。

  次に、モニタに合わせたビデオのモードの組を指定する必要があります。まず
  最初に 'Monitors' と modeDB.txt ファイル中に、自分の指定するモニタに対
  応するモード一覧があるかどうかを確認してください。あった場合は、
  XF86Config ファイルの Monitor セクションにそれらのモードをコピーしま
  す。XF86Config ファイルの Clocks 行に、各モード行の2 番目のパラメータ
  のドットクロックに合うクロック値があることを確認してください。カードの
  クロックに合わないモード行は削除します。その後に残っているモードがあれ
  ば良い状態と言えます。

  特定のモードが見つからないか、使いたい解像度に対するモードをもっと多く
  知りたいときは、後述の「汎用的なビデオモード一覧」を参照してください。
  モニタの仕様に対して設定するモードの仕様を合わせましょう。まずは仕様内
  で一番高いリフレッシュモードを抜きだし、これが Clocks 行のドットクロッ
  クに合っていることを確認します。対応する別のモード設定を試す前には、
  VESA モードを試してみましょう。そして、モード指定を XF86Config ファイ
  ルの Monitor セクションにコピーします。これらのモードは最適な値ではな
  いことも多い点に注意してください。これらは完璧な画面サイズではないかも
  しれませんし、表示も画面中央でないかもしれません。しかし、きっと起動と
  動作はするでしょう。モードをモニタに合わせて調整したけれ
  ば、VideoModes.doc ファイルの '表示の問題の修正' の節を読んでくださ
  い。

  作業を終える前に注意があります。XF86Config ファイルの Monitor セクショ
  ンに同じモード名が複数回現われる場合、サーバはクロックの一致する最初の
  モードを使用します。一般的に、XF86Config ファイルに同じモード名を複数
  回定義することはよくないことだと考えられています。

  6.  ビデオボードとモニタデータの組み合わせについて

  モニタとグラフィックスハードウェアの記述を行ったら、サーバがこれらをど
  のように使うかを指定する必要があります。これは XF86Config ファイル
  の"Screen" セクションで行ないます。使用したいタイプのサーバのドライバ
  それぞれについて Screen セクションを1つ指定します。ドライバのタイプに
  は "SVGA" (XF86_SVGA), "VGA16" (XF86_VGA16), "VGA2" (XF86_Mono),
  "MONO" (XF86_Mono, XF86_VGA16), "ACCEL" (XF86_S3, XF86_Mach32,
  XF86_Mach8, XF86_Mach64, XF86_8514, XF86_P9000, XF86_AGX, XF86_W32)が
  あります。それぞれの Screen セクションには使用するモニタとデバイスの記
  述を行います。

  Screen セクションは1つ以上の "Display" サブセクションを含みます。サー
  バがサポートしているそれぞれの深さに対して 1 つの Display セクションを
  与えることができます。 [ 訳注：深さとは色数や階調数を表わすのに必要な
  ビット数です。] Display サブセクションでは、サーバが使う仮想スクリーン
  の大きさを指定できます。仮想スクリーンを使うと、モニタが表示できるスク
  リーンの大きさよりも大きいルートウィンドウを持つことができます(例えば
  800x600 のディスプレイで1280x1024 の大きさの仮想スクリーンを使えま
  す)。Virtual というキーワードを使って仮想スクリーンの大きさを指定しま
  す。新しいアクセラレータサーバの多くは、表示に使われないメモリをキャッ
  シュに使うことに注意してください。メモリを全て仮想ディスプレイに使うこ
  とは望ましくありません。キャッシュの分のメモリが無くなるので、サーバの
  性能が30-40% 悪くなってしまいます。

  Display サブセクションで最後に指定するのは、ディスプレイのモードです。
  ここでは、サーバが使おうとする物理的なディスプレイ解像度を指定します。
  ディスプレイの名前は自由に決められますが、Monitor セクションのどれかと
  一致していなければいけません。一般には、これらの名前はディスプレイの解
  像度(例えば "1024x768")が使われますが、必ずしもそうである必要はありま
  せん。必要な数だけ設定を並べることができます。最初に指定したものがデ
  フォルトの起動されるディスプレイになり、Ctrl-Alt-Keypad+ と Ctrl-Alt-
  Keypad- のホットキーシーケンスを使って、リスト中の設定を順番に切替えて
  いくことができます。

  以上で設定は終わりです。さあ、新しくインストールした XFree86 を試して
  みましょう!

  7.  汎用的なビデオモード一覧

  [ 訳注 : ここはデータの再利用のために翻訳はしません。 コメントに漢字が
  混じっていても誤動作を起こすことは無いと信じていますが、やっぱりちょっ
  と怖いです :-) ]

  ______________________________________________________________________
  #
  #  Mode       Refresh  Hor. Sync  Dot-clock  Interlaced?  VESA?
  #  ------------------------------------------------------------
  #  640x480     60Hz      31.5k     25.175M       No         No
  #  640x480     60Hz      31.5k     25.175M       No         No
  #  640x480     63Hz      32.8k     28.322M       No         No
  #  640x480     70Hz      36.5k     31.5M         No         No
  #  640x480     72Hz      37.9k     31.5M         No        Yes
  #  800x600     56Hz      35.1k     36.0M         No        Yes
  #  800x600     56Hz      35.4k     36.0M         No         No
  #  800x600     60Hz      37.9k     40.0M         No        Yes
  #  800x600     60Hz      37.9k     40.0M         No         No
  #  800x600     72Hz      48.0k     50.0M         No        Yes
  #  1024x768i   43.5Hz    35.5k     44.9M        Yes         No
  #  1024x768    60Hz      48.4k     65.0M         No        Yes
  #  1024x768    60Hz      48.4k     62.0M         No         No
  #  1024x768    70Hz      56.5k     75.0M         No        Yes
  #  1024x768    70Hz      56.25k    72.0M         No         No
  #  1024x768    76Hz      62.5k     85.0M         No         No
  #  1280x1024i  44Hz      51kHz     80.0M        Yes         No
  #  1280x1024i  44Hz      47.6k     75.0M        Yes         No
  #  1280x1024   59Hz      63.6k    110.0M         No         No
  #  1280x1024   61Hz      64.24k   110.0M         No         No
  #  1280x1024   74Hz      78.85k   135.0M         No         No

  #
  # 640x480@60Hz Non-Interlaced mode
  # Horizontal Sync = 31.5kHz
  # Timing: H=(0.95us, 3.81us, 1.59us), V=(0.35ms, 0.064ms, 1.02ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "640x480"     25.175  640  664  760  800    480  491  493  525

  #
  # Alternate 640x480@60Hz Non-Interlaced mode
  # Horizontal Sync = 31.5kHz
  # Timing: H=(1.27us, 3.81us, 1.27us) V=(0.32ms, 0.06ms, 1.05ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "640x480"     25.175  640  672  768  800    480  490  492  525

  #
  # 640x480@63Hz Non-Interlaced mode (non-standard)
  # Horizontal Sync = 32.8kHz
  # Timing: H=(1.41us, 1.41us, 5.08us) V=(0.24ms, 0.092ms, 0.92ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "640x480"     28.322  640  680  720  864    480  488  491  521

  #
  # 640x480@70Hz Non-Interlaced mode (non-standard)
  # Horizontal Sync = 36.5kHz
  # Timing: H=(1.27us, 1.27us, 4.57us) V=(0.22ms, 0.082ms, 0.82ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "640x480"     31.5    640  680  720  864    480  488  491  521

  #
  # VESA 640x480@72Hz Non-Interlaced mode
  # Horizontal Sync = 37.9kHz
  # Timing: H=(0.76us, 1.27us, 4.06us) V=(0.24ms, 0.079ms, 0.74ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "640x480"     31.5    640  664  704  832    480  489  492  520

  #
  # VESA 800x600@56Hz Non-Interlaced mode
  # Horizontal Sync = 35.1kHz
  # Timing: H=(0.67us, 2.00us, 3.56us) V=(0.03ms, 0.063ms, 0.70ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "800x600"     36      800  824  896 1024    600  601  603  625

  #
  # Alternate 800x600@56Hz Non-Interlaced mode
  # Horizontal Sync = 35.4kHz
  # Timing: H=(0.89us, 4.00us, 1.11us) V=(0.11ms, 0.057ms, 0.79ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "800x600"     36      800  832  976 1016    600  604  606  634

  #
  # VESA 800x600@60Hz Non-Interlaced mode
  # Horizontal Sync = 37.9kHz
  # Timing: H=(1.00us, 3.20us, 2.20us) V=(0.03ms, 0.106ms, 0.61ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "800x600"     40      800  840  968 1056    600  601  605  628 +hsync +vsync

  #
  # Alternate 800x600@60Hz Non-Interlaced mode
  # Horizontal Sync = 37.9kHz
  # Timing: H=(1.20us, 3.80us, 1.40us) V=(0.13ms, 0.053ms, 0.69ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "800x600"     40      800 848 1000 1056     600  605  607  633

  #
  # VESA 800x600@72Hz Non-Interlaced mode
  # Horizontal Sync = 48kHz
  # Timing: H=(1.12us, 2.40us, 1.28us) V=(0.77ms, 0.13ms, 0.48ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "800x600"     50      800  856  976 1040    600  637  643  666  +hsync +vsync

  #
  # 1024x768@43.5Hz, Interlaced mode (8514/A standard)
  # Horizontal Sync = 35.5kHz
  # Timing: H=(0.54us, 1.34us, 1.25us) V=(0.23ms, 0.23ms, 0.93ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768i"   44.9   1024 1048 1208 1264    768  776  784  817  Interlace

  #
  # VESA 1024x768@60Hz Non-Interlaced mode
  # Horizontal Sync = 48.4kHz
  # Timing: H=(0.12us, 2.22us, 2.58us) V=(0.06ms, 0.12ms, 0.60ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768"    65     1024 1032 1176 1344    768  771  777  806 -hsync -vsync

  #
  # 1024x768@60Hz Non-Interlaced mode (non-standard dot-clock)
  # Horizontal Sync = 48.4kHz
  # Timing: H=(0.65us, 2.84us, 0.65us) V=(0.12ms, 0.041ms, 0.66ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768"    62     1024 1064 1240 1280   768  774  776  808

  #
  # VESA 1024x768@70Hz Non-Interlaced mode
  # Horizontal Sync=56.5kHz
  # Timing: H=(0.32us, 1.81us, 1.92us) V=(0.05ms, 0.14ms, 0.51ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768"    75     1024 1048 1184 1328    768  771  777  806 -hsync -vsync

  #
  # 1024x768@70Hz Non-Interlaced mode (non-standard dot-clock)
  # Horizontal Sync=56.25kHz
  # Timing: H=(0.44us, 1.89us, 1.22us) V=(0.036ms, 0.11ms, 0.53ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768"    72     1024 1056 1192 1280    768  770  776 806   -hsync -vsync

  #
  # 1024x768@76Hz Non-Interlaced mode
  # Horizontal Sync=62.5kHz
  # Timing: H=(0.09us, 1.41us, 2.45us) V=(0.09ms, 0.048ms, 0.62ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768"    85     1024 1032 1152 1360    768  784  787  823

  #
  # 1280x1024@44Hz, Interlaced mode
  # Horizontal Sync=51kHz
  # Timing: H=(0.02us, 2.7us, 0.70us) V=(0.02ms, 0.24ms, 2.51ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1280x1024i"  80     1280 1296 1512 1568   1024 1025 1037 1165  Interlace

  #
  # Alternate 1280x1024@44Hz, Interlaced mode (non-standard dot-clock)
  # Horizontal Sync=47.6kHz
  # Timing: H=(0.42us, 2.88us, 0.64us) V=(0.08ms, 0.12ms, 0.96ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1280x1024i"  75     1280 1312 1528 1576   1024 1028 1034 1080  Interlace

  #
  # 1280x1024@59Hz Non-Interlaced mode (non-standard)
  # Horizontal Sync=63.6kHz
  # Timing: H=(0.36us, 1.45us, 2.25us) V=(0.08ms, 0.11ms, 0.65ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1280x1024"  110     1280 1320 1480 1728   1024 1029 1036 1077

  #
  # 1280x1024@61Hz, Non-Interlaced mode
  # Horizontal Sync=64.25kHz
  # Timing: H=(0.44us, 1.67us, 1.82us) V=(0.02ms, 0.05ms, 0.41ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1280x1024"  110     1280 1328 1512 1712   1024 1025 1028 1054

  #
  # 1280x1024@74Hz, Non-Interlaced mode
  # Horizontal Sync=78.85kHz
  # Timing: H=(0.24us, 1.07us, 1.90us) V=(0.04ms, 0.04ms, 0.43ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1280x1024"  135     1280 1312 1456 1712   1024 1027 1030 1064

  ______________________________________________________________________

  $XFree86: xc/programs/Xserver/hw/xfree86/doc/Japanese/README.Config,v 3.4.2.3 1999/11/26 15:23:03 hohndel Exp $

  $XConsortium: Config.sgml /main/7 1996/10/19 18:03:03 kaleb $

  8.  日本語訳について

  このファイルは、岡本一幸<ikko-@pacific.rim.or.jp>
  <mailto:ikko-@pacific.rim.or.jp> の翻訳(XFree86 3.3.2 版)をベースに藤
  原輝嘉 <fujiwara@linux.or.jp> <mailto:fujiwara@linux.or.jp> が XFree86
  3.3.3 に合わせて更新を行ったものです。問題点の指摘やご意見は藤原まで御
  連絡ください。原文の著作権は XFree86 プロジェクト社にあり、日本語訳の
  著作権は X Japanese Documentation Project にあります。

