/*
 * GNU Hurd shared library template
 *
 * $XFree86: xc/config/cf/gnuLib.tmpl,v 1.1.2.2 1998/12/22 12:27:32 hohndel Exp $
 */

#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
XMULIBONLY = -lXmu							@@\
XMULIB = $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif

#ifndef XawClientLibs
#define XawClientLibs $(XAWLIB) $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif

#define CplusplusLibC
#define FrescoSysLibs	CplusplusLibC MathLibrary

#define SharedX11Reqs
#define SharedOldXReqs	$(LDPRELIB) $(XLIBONLY)
#define SharedXtReqs	$(LDPRELIB) $(XLIBONLY) $(SMLIB) $(ICELIB)
#define SharedXawReqs	$(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXmuReqs	$(LDPRELIB) $(XTOOLLIB) $(XLIB)
#define SharedXextReqs	$(LDPRELIB) $(XLIBONLY)
#define SharedXiReqs	$(LDPRELIB) $(XLIB)
#define SharedPexReqs	$(LDPRELIB) $(XLIBONLY) MathLibrary
#define SharedXtstReqs	$(LDPRELIB) $(XLIB)
#define SharedXieReqs	$(LDPRELIB) $(XLIBONLY)
#define SharedSMReqs	$(LDPRELIB) $(ICELIB)
#define SharedFrescoReqs	$(LDPRELIB) $(XLIBONLY) FrescoSysLibs
#define SharedXtfReqs	$(LDPRELIB) $(FRESCOLIB) $(XTOOLLIB) $(XLIB) FrescoSysLibs

