/*
 * Server imakefile info  - this contains any special redefinitions, etc.
 * that Imakefiles in the server subtree will need.
 */

XCOMM $XConsortium: Server.tmpl,v 1.13 94/04/08 16:59:46 rws Exp $
XCOMM $XFree86: xc/config/cf/Server.tmpl,v 3.2 1996/10/06 13:09:38 dawes Exp $

#define PassCDebugFlags CDEBUGFLAGS="$(CDEBUGFLAGS)" LDSTRIPFLAGS="$(LDSTRIPFLAGS)"

#ifndef ServerCcCmd
#define ServerCcCmd CcCmd
#endif
#ifndef ServerCCOptions
#define ServerCCOptions DefaultCCOptions
#endif
#ifndef ServerDefines
#define ServerDefines StandardDefines
#endif
#ifndef ServerCDebugFlags
#define ServerCDebugFlags DefaultCDebugFlags
#endif
#ifndef DoThreadedServer
#define DoThreadedServer NO
#endif
#ifndef InstallServerSetUID
#define InstallServerSetUID NO
#endif

/*
 * SetUIDServerTarget - compile, link, and relink a setuid server
 */
#ifndef SetUIDServerTarget
#if InstallServerSetUID
#define	SetUIDServerTarget(server,subdirs,objects,libs,syslibs)		@@\
ServerTargetWithFlags(server,subdirs,objects,libs,syslibs,$(INSTUIDFLAGS))
#else
#define	SetUIDServerTarget ServerTarget
#endif
#endif /* SetUIDServerTarget */

/*
 * BuildDynamicLoading - dynamic module support
 */
#ifndef BuildDynamicLoading
#define BuildDynamicLoading		NO
#endif

/*
 * ExtensionsDynamicModules - compile server extensions as dynamic modules
 */
#ifndef ExtensionsDynamicModules
#define ExtensionsDynamicModules	BuildDynamicLoading
#endif

#ifndef PexDynamicModule
#define PexDynamicModule	ExtensionsDynamicModules
#endif
#ifndef XieDynamicModule
#define XieDynamicModule	ExtensionsDynamicModules
#endif

         CC = ServerCcCmd
  CCOPTIONS = ServerCCOptions
#if DoThreadedServer
SERVER_THREAD_DEFINES = XThreadsDefines ThreadTypeDefines
#endif
STD_DEFINES = ServerDefines $(SERVER_THREAD_DEFINES)
CDEBUGFLAGS = ServerCDebugFlags
EXT_DEFINES = ExtensionDefines

#ifdef XFree86Version
#include <xf86.tmpl>
#endif
