XCOMM $XConsortium: sgiLib.tmpl,v 1.1 94/12/12 11:59:22 kaleb Exp $

/*
 * SGI shared library template
 */
#define SharedXtReqs $(LDPRELIB) $(XLIBONLY) -delay_load $(SMLIB) -delay_load $(ICELIB)
#define SharedXmuReqs $(LDPRELIB) $(XTOOLONLYLIB)
#define SharedXawReqs -lw
